
* {
    margin: 0;
    padding: 0;
    font-family: Papyrus;
    font-weight: bolder;
}

body {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("https://i.imgur.com/a3hcyh9.jpg");
    background-position: center;
    background-size: cover;
}

.header {
    min-height: 100vh;
    width: 100%;
    margin-top: -3%;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 200px;
}

.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 80px;
}

.text-box p {
    margin:  10px 0 40px;
    font-size: 30px;
    color: white;
}

nav .fas {
    display: none;
}

.news{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 80px;
    color: red;
}

h3{
    font-size: 30px;
    color: red;
    font-weight: bolder;
}

p{
    color: white;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.card {
    height: auto;
    margin: auto;
}

.news-col{
    flex-basis: 25%;
    background: #303030;
    border-radius: 10px;
    margin-bottom: 5%;
    opacity: 75%;
    box-sizing: border-box;
    transition: 0.5s;
    width: 60%;
}

.news-col p {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.news-col:hover{
    box-shadow: 0 0 60px 0px rgba(200,200,200,0.8);
}

.minus {
    position: absolute;
    text-align: right;
    margin-top: -6%;
}

.cog {
    position: absolute;
    margin-top: -6%;
    text-align: left;
}

.minus-b {
    position: absolute;
    text-align: right;
    margin-top: -13%;
    margin-left: 46%;
}

.cog-b {
    position: absolute;
    margin-top: -13%;
    margin-left: -4%;
}

.news-col .fas {
    color: red;
    transition: 0.5s;
    font-size: xxx-large;
}

.news-col .fas:hover {
    color: orange;
    text-shadow: 0 0 20px orange;
    font-size: xxx-large;
}

div.card-body {
    position: center;
    margin-top: 10px;
}

.plus {
    text-align: center;
    margin-top: -5px;
}

.bands-tiles .plus {
    margin-top: -10%;
}

.cardText{
    text-align: center;
    margin-top: -20px;
    margin-left: 40px;
    margin-right: 40px;
}

.bands-tiles{
    width: 85%;
    margin: auto;
    padding-top: 100px;
}

.bands-center {
    text-align: center;
}

.bands-col{
    height: 400px;
    position: relative;
    flex-basis: 25%;
    background: #303030;
    border-radius: 10px;
    margin-bottom: 5%;
    opacity: 75%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.bands-col:hover{
    box-shadow: 0 0 60px 0px rgba(200,200,200,0.8);
}

.bands-col .fas {
    color: red;
    transition: 0.5s;
    font-size: xxx-large;
}

.bands-col .fas:hover {
    color: orange;
    text-shadow: 0 0 20px orange;
    font-size: xxx-large;
}

.bands-tiles a {
    text-align: center;
}

.text-box-band{
    width: 90%;
    color: red;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.band-col {
    flex-basis: 50%;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.band-info{
    font-size: x-large;
    font-weight: normal;
}

.contact {
    height: auto;
    width: 80%;
    position: relative;
    background: #303030;
    border-radius: 10px;
    margin-bottom: 5%;
    opacity: 75%;
    padding-bottom: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.contact a {
    color: orange;
}

.contact-block {
    position: relative;
}

.contact-img img{
    width: 80%;
    height: 60%;
}

.carousel {
    height: 500px;
    width: 90%;
}

.carousel-inner{
    max-height: 500px;
}

.text-box-band {
    text-align: left;
    padding-left: 30px;
}

.carousel-caption {
    margin-bottom: 10%;
    color: white;
}

.carousel-caption h5 {
    font-weight: bold;
    font-size: 40px;

}

.text-box .scroll-row .fas {
    color: #f00;
    transition: 1s;
    font-size: 800%;
}

.text-box .scroll-row .fas:hover {
    color: orange;
    text-shadow: 0 0 40px orange;
    transition: 0.25s;

}

.form-label {
    color: red;
    font-size: 20px;
}

.container .form-block {
    position: center;
    margin-bottom: 10%;
}

.form-block {
    align-content: center;
}

.form-block textarea {
    width: 100%;
    height: 350px;
    background-color: darkgray;
    font-size: 20px;
    font-weight: bolder;
}

.container {
    position: relative;
}

.container .form-block button {
    border-color: black;
    justify-content: center;
    color: red;
    background-color: black;
    font-weight: bold;
}

.container .form-block button:hover {
    border-color: red;
    justify-content: center;
    color: black;
    background-color: red;
    box-shadow: 0 0 25px red;
}

.btn-primary {
    border-color: black;
    justify-content: center;
    color: red;
    background-color: black;
    font-weight: bold;
}

.btn-primary:hover {
    border-color: red;
    justify-content: center;
    color: black;
    background-color: red;
    box-shadow: 0 0 25px red;
}

.band-info {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.container {
    padding: 20px;
}

#message {
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    display: block;
    visibility: hidden;
}

#message h3 {
    color: orange;
    justify-content: right;
}

#message p {
    padding: 10px 35px;
    font-size: 20px;
    justify-content: right;
    font-weight: lighter;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

.mb-3 {
    position: relative;
}

.mb-3 i {
    position: absolute;
    right: 15px;
    top: 55px;
    color: gray;
    transition: 0.25s;
}

.mb-3 i:hover {
    position: absolute;
    right: 15px;
    top: 50px;
    color: gray;
    color: red;
    text-shadow: 0 0 20px red;
}

.mb-3 .fa-eye-slash {
    visibility: hidden;
}

@media (max-width: 700px) {
    .header {
        width: 100%;
        height: 100%;
    }

    .text-box {
        margin-top: 100px;
    }

    .text-box h1{
        font-size: 80px;
    }

    .text-box p{
        font-size: 30px;
        flex-flow: wrap;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        right: 1%;
        background: #303030;
        height: 100vh;
        width: 200px;
        top: 0;
        text-align: left;
        z-index: 2;
        visibility: hidden;
    }
    nav .fas {
        display: block;
        color: red;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        z-index: 1;
    }

    .nav-links ul {
        padding: 30px;
    }

    .fa-chevron-down:before {
        flex-direction: column;
        font-size: 30%;
    }

    .row{
        flex-direction: column;
    }

    .news-col{
        width: 90%;
    }
}





