
* {
    margin: 0;
    padding: 0;
    font-family: Papyrus;
    font-weight: bolder;
}

body {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("https://i.imgur.com/a3hcyh9.jpg");
    background-position: center;
    background-size: cover;
}

.header {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 200px;
}

.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 80px;
}

.text-box p {
    margin:  10px 0 40px;
    font-size: 30px;
    color: white;
}

nav .fas {
    display: none;
}

@media (max-width: 700px) {
    .header {
        width: 100%;
    }
    .text-box h1{
        font-size: 30px;
    }

    .text-box p{
        font-size: 10px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #303030;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fas {
        display: block;
        color: red;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}

.news{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 80px;
    color: red;
}

h3{
    font-size: 30px;
    color: red;
    font-weight: bolder;
}

p{
    color: white;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.news-col{
    flex-basis: 31%;
    background: #303030;
    border-radius: 10px;
    margin-bottom: 5%;
    opacity: 75%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.news-col:hover{
    box-shadow: 0 0 60px 0px rgba(200,200,200,0.8);
}

.bands-tiles{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.bands-col{
    flex-basis: 25%;
    background: #303030;
    border-radius: 10px;
    margin-bottom: 5%;
    opacity: 75%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.bands-col:hover{
    box-shadow: 0 0 60px 0px rgba(200,200,200,0.8);
}

.text-box-band{
    width: 90%;
    color: red;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.band-col {
    flex-basis: 50%;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.band-info{
    font-size: x-large;
    font-weight: normal;
}


@media (max-width: 700px) {
    .row{
        flex-direction: column;
    }
}

.carousel {
    height: 500px;
    width: 90%;
}

.carousel-inner{
    max-height: 500px;
}

.text-box-band {
    text-align: left;
    padding-left: 30px;
}

.carousel-caption {
    margin-bottom: 10%;
    color: white;
}

.carousel-caption h5 {
    font-weight: bold;
    font-size: 40px;

}

.text-box .scroll-row .fas {
    color: #f00;
    transition: 1s;
    font-size: 800%;
}

.text-box .scroll-row .fas:hover {
    color: orange;
    text-shadow: 0 0 40px orange;
    transition: 0.25s;

}

.form-label {
    color: red;
}

.container .form-block {
    position: center;
    margin-bottom: 10%;
}

.container {
    position: relative;
}

.container .form-block button {
    border-color: black;
    justify-content: center;
    color: red;
    background-color: black;
    font-weight: bold;
}

.container .form-block button:hover {
    border-color: red;
    justify-content: center;
    color: black;
    background-color: red;
    box-shadow: 0 0 25px red;
}

.btn-primary {
    border-color: black;
    justify-content: center;
    color: red;
    background-color: black;
    font-weight: bold;
}

.btn-primary:hover {
    border-color: red;
    justify-content: center;
    color: black;
    background-color: red;
    box-shadow: 0 0 25px red;
}

.band-info {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

/*
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}
section .bg-row{
    position: relative;
    width: 100%;
    display: flex;
    padding: 5px 0;
    white-space: nowrap;
    font-size: 65px;

}
section i {
    color: rgba(0,0,0,0.5);
    top: -50%;
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}
section i:hover {
    color: #f00;
    text-shadow: 0 0 99px #ff0000;
    transition: 0s;
}
*/
